nav > ul{
    display: grid; 
    height:100%; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin:0; 
    padding:0; 
}
li{
    text-align: center; 
    list-style: none; 
    display: grid; 
    justify-content: stretch; 
    border: 1px solid black; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 0px;
}
img{
    max-width: 100%;
}
#introduktion{
    border: 1px solid black;
}
h2{
    text-align: center;
}
@media only screen and (min-width: 768px){
    li{
        border-radius: 10px;
    }
    ul{
        gap: 25px;
    }
    img{
        max-width: 80%;
        padding: 20px;
    }
    #introduktion{
        display: grid;
        grid-template-columns: auto auto;
    }
}