.wrapper{
    display: grid;
    grid-template-rows: 145px auto auto 50px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
header{
    background-color: grey;
    grid-area: header;
}
main{
    grid-area: main;
}
#nav2{
    grid-area: nav;
}
footer{
    grid-area: footer;
}
p, h1, h2, h3, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav > ul{
    display: grid; 
    height:100%; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin:0; 
    padding:0; 
}
a:link, a:visited{
    background-color: rgb(201, 201, 201);
}
a:hover, a:active{
    background-color: white;
}
nav > ul > li{
    text-align: center; 
    list-style: none; 
    display: grid; 
    justify-content: stretch; 
    border: 1px solid black; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 0px;
}
img{
    max-width: 100%;
    border-image-slice: 10%;
}
#introduktion{
    border: 1px solid black;
}
#introduktion > img{
    border: 1px solid black;
}
#introduktion > p{
    margin: 5px;
}
h2{
    text-align: center;
}
#info{
    border: 1px solid black;
}
#info > section{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
#info > section > a{
     width: fit-content;
    list-style: none; 
    display: grid; 
    justify-content: stretch; 
    border: 1px solid black; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px;
}
@media only screen and (min-width: 768px){
    nav > ul > li{
        border-radius: 10px;
    }
    ul{
        gap: 25px;
    }
    #introduktion > img{
        max-width: 80%;
        padding: 20px;
    }
    #introduktion{
        display: grid;
        grid-template-columns: auto auto;
    }
    #info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #teknik > .wrapper > main > div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    #motor, #aero, #utanför{
        border: 1px solid black;
        padding: 5px;
        justify-items: center;
    }
    #bodyA > .wrapper, #bodyM > .wrapper, #bodyU > .wrapper{
        display: grid;
        grid-template-rows: 145px auto 50px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
        gap: 10px;
    }
    #nav2 > ul{
        display: grid; 
        height:100%; 
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin:0; 
        padding:0;
        gap: 0;
    }
}